# Singapore housing data extraction

## Author: Ankur Shanker

## Student ID: 21159916

### **Section 1:** Importing packages necessary for workbook exectuion.

Libraries necessary for workbook execution related to functionality responsible for geo-spatial data reading, plotting, and statistical analysis need to be imported in order for this workbook to function.

In [1]:
# Import packages required for analysis
import pandas as pd
from sklearn.model_selection import train_test_split
import rfpimp
from sklearn import model_selection

# Import packages required for numeric operations
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import statsmodels.api as sm

In [2]:
# Import packages required for geospatial analysis
import geopandas as gpd
import pyproj
import geopy.distance
pyproj.datadir.get_data_dir()

'c:\\Users\\ankur\\anaconda3\\lib\\site-packages\\pyproj\\proj_dir\\share\\proj'

In [3]:
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree

In [4]:
# Import packages required for data visualisation
import matplotlib.pyplot as plt
import seaborn as sn
sn.set_style("darkgrid", {"grid.color": ".6", "grid.linestyle": ":"})

### **Section 2:** Reading and formatting data

Data related to house resale prices in Singapore is read in below.

In [ ]:
singapore_Jan_2017_onwards = pd.read_csv("Data/resale-flat-prices/resale-flat-prices-based-on-registration-date-from-jan-2017-onwards.csv")
singapore_Jan_2017_onwards['ID'] =  'block ' + singapore_Jan_2017_onwards['block'] + ' ' + singapore_Jan_2017_onwards['town']
singapore_Jan_2017_onwards = singapore_Jan_2017_onwards[['ID', 'floor_area_sqm', 'resale_price']]
singapore_Jan_2017_onwards.rename(columns={'resale_price':'resale_price_2017'}, inplace=True)

singapore_floor_area = singapore_Jan_2017_onwards[['ID', 'floor_area_sqm']]
singapore_floor_area = singapore_floor_area.groupby('ID')['floor_area_sqm'].mean()
singapore_floor_area = pd.DataFrame(singapore_floor_area)

singapore_resale_price = singapore_Jan_2017_onwards[['ID', 'resale_price_2017']]
singapore_resale_price = singapore_resale_price.groupby('ID')['resale_price_2017'].mean()
singapore_resale_price = pd.DataFrame(singapore_resale_price)

singapore_Jan_2017_onwards = singapore_resale_price.join(singapore_floor_area, how='left')
singapore_Jan_2017_onwards.dropna(inplace=True)
singapore_Jan_2017_onwards.drop_duplicates(inplace=True)
singapore_Jan_2017_onwards

                       resale_price_2017  floor_area_sqm
ID
block 1 BEDOK               3.853030e+05       87.151515
block 1 BUKIT MERAH         4.779412e+05       84.145833
block 1 BUKIT TIMAH         8.147368e+05      117.789474
block 1 CENTRAL AREA        4.658056e+05       62.666667
block 1 CHOA CHU KANG       3.104000e+05       91.800000
...                                  ...             ...
block 99A TOA PAYOH         9.076500e+05      144.000000
block 99B TOA PAYOH         9.245000e+05      144.500000
block 99C TOA PAYOH         9.576667e+05      148.666667
block 9A BUKIT MERAH        1.022954e+06      101.166667
block 9B BUKIT MERAH        1.002369e+06      100.235294

[8663 rows x 2 columns]

In [ ]:
singapore_Jan_2015_2016 = pd.read_csv("Data/resale-flat-prices/resale-flat-prices-based-on-registration-date-from-jan-2015-to-dec-2016.csv")
singapore_Jan_2015_2016['ID'] =  'block ' + singapore_Jan_2015_2016['block'] + ' ' + singapore_Jan_2015_2016['town']
singapore_Jan_2015_2016 = singapore_Jan_2015_2016[['ID', 'resale_price']]
singapore_Jan_2015_2016.rename(columns={'resale_price':'resale_price_2015'}, inplace=True)

singapore_Jan_2015_2016 = singapore_Jan_2015_2016[['ID', 'resale_price_2015']]
singapore_Jan_2015_2016 = singapore_Jan_2015_2016.groupby('ID')['resale_price_2015'].mean()
singapore_Jan_2015_2016 = pd.DataFrame(singapore_Jan_2015_2016)
singapore_Jan_2015_2016.dropna(inplace=True)
singapore_Jan_2015_2016.drop_duplicates(inplace=True)
singapore_Jan_2015_2016

                        resale_price_2015
ID
block 1 BEDOK               379875.000000
block 1 BUKIT MERAH         430412.000000
block 1 BUKIT TIMAH         812731.333333
block 1 CENTRAL AREA        457500.000000
block 1 CHOA CHU KANG       300400.000000
...                                   ...
block 99 BEDOK              535083.333333
block 990A JURONG WEST      253000.000000
block 990B JURONG WEST      246200.000000
block 990C JURONG WEST      278750.000000
block 99B TOA PAYOH         848000.000000

[4620 rows x 1 columns]

In [ ]:
singapore_Jan_2012_2014 = pd.read_csv("Data/resale-flat-prices/resale-flat-prices-based-on-registration-date-from-mar-2012-to-dec-2014.csv")
singapore_Jan_2012_2014['ID'] =  'block ' + singapore_Jan_2012_2014['block'] + ' ' + singapore_Jan_2012_2014['town']
singapore_Jan_2012_2014 = singapore_Jan_2012_2014[['ID', 'resale_price']]
singapore_Jan_2012_2014.rename(columns={'resale_price':'resale_price_2012'}, inplace=True)

singapore_Jan_2012_2014 = singapore_Jan_2012_2014[['ID', 'resale_price_2012']]
singapore_Jan_2012_2014 = singapore_Jan_2012_2014.groupby('ID')['resale_price_2012'].mean()
singapore_Jan_2012_2014 = pd.DataFrame(singapore_Jan_2012_2014)
singapore_Jan_2012_2014.dropna(inplace=True)
singapore_Jan_2012_2014.drop_duplicates(inplace=True)
singapore_Jan_2012_2014

                        resale_price_2012
ID
block 1 BEDOK               370600.000000
block 1 BUKIT MERAH         491577.666667
block 1 BUKIT TIMAH         701250.000000
block 1 CENTRAL AREA        491428.571429
block 1 CHOA CHU KANG       337828.571429
...                                   ...
block 990B JURONG WEST      424499.750000
block 990C JURONG WEST      346320.888889
block 99A TOA PAYOH         896666.666667
block 99B TOA PAYOH         868600.000000
block 99C TOA PAYOH         858000.000000

[5461 rows x 1 columns]

In [ ]:
singapore_Jan_2000_2012 = pd.read_csv("Data/resale-flat-prices/resale-flat-prices-based-on-approval-date-2000-feb-2012.csv")
singapore_Jan_2000_2012['ID'] =  'block ' + singapore_Jan_2000_2012['block'] + ' ' + singapore_Jan_2000_2012['town']
singapore_Jan_2000_2012 = singapore_Jan_2000_2012[['ID', 'resale_price']]
singapore_Jan_2000_2012.rename(columns={'resale_price':'resale_price_2000'}, inplace=True)

singapore_Jan_2000_2012 = singapore_Jan_2000_2012[['ID', 'resale_price_2000']]
singapore_Jan_2000_2012 = singapore_Jan_2000_2012.groupby('ID')['resale_price_2000'].mean()
singapore_Jan_2000_2012 = pd.DataFrame(singapore_Jan_2000_2012)
singapore_Jan_2000_2012.dropna(inplace=True)
singapore_Jan_2000_2012.drop_duplicates(inplace=True)
singapore_Jan_2000_2012

                        resale_price_2000
ID
block 1 BEDOK               219860.465116
block 1 BUKIT MERAH         268822.628099
block 1 BUKIT TIMAH         466549.818182
block 1 CENTRAL AREA        264498.888889
block 1 CHOA CHU KANG       189171.875000
...                                   ...
block 99 QUEENSTOWN         155427.083333
block 990A JURONG WEST      250000.000000
block 99A TOA PAYOH         620181.272727
block 99B TOA PAYOH         607164.705882
block 99C TOA PAYOH         607469.565217

[7683 rows x 1 columns]

In [ ]:
singapore_2000_onwards = singapore_Jan_2017_onwards.join(singapore_Jan_2015_2016, on='ID')
singapore_2000_onwards = singapore_2000_onwards.join(singapore_Jan_2012_2014, on='ID')
singapore_2000_onwards = singapore_2000_onwards.join(singapore_Jan_2000_2012, on='ID')
singapore_2000_onwards.dropna(inplace=True)
singapore_2000_onwards.drop_duplicates(inplace=True)
singapore_2000_onwards

,resale_price_2017,floor_area_sqm,resale_price_2015,resale_price_2012,resale_price_2000
ID,,,,,
block 1 BEDOK,385303.030303,87.151515,379875.000000,370600.000000,219860.465116
block 1 BUKIT MERAH,477941.166667,84.145833,430412.000000,491577.666667,268822.628099
block 1 BUKIT TIMAH,814736.842105,117.789474,812731.333333,701250.000000,466549.818182
block 1 CENTRAL AREA,465805.555556,62.666667,457500.000000,491428.571429,264498.888889
block 1 CHOA CHU KANG,310400.000000,91.800000,300400.000000,337828.571429,189171.875000
...,...,...,...,...,...
block 989A JURONG WEST,482400.000000,106.666667,476148.000000,520916.666667,498500.000000
block 989D JURONG WEST,461619.400000,107.300000,486296.000000,542843.272727,446000.000000
block 99 BEDOK,523666.666667,123.200000,535083.333333,600300.000000,361651.351351
block 990A JURONG WEST,250090.909091,54.909091,253000.000000,298571.428571,250000.000000
block 99B TOA PAYOH,924500.000000,144.500000,848000.000000,868600.000000,607164.705882

In [ ]:
singapore_2000_onwards['mean_resale_price'] = (singapore_2000_onwards['resale_price_2017']
                                               + singapore_2000_onwards['resale_price_2015']
                                               + singapore_2000_onwards['resale_price_2012']
                                               + singapore_2000_onwards['resale_price_2000']) / 4
singapore_2000_onwards = singapore_2000_onwards[['floor_area_sqm', 'mean_resale_price']]
singapore_2000_onwards

                        floor_area_sqm  mean_resale_price
ID
block 1 BEDOK                87.151515      338909.623855
block 1 BUKIT MERAH          84.145833      417188.365358
block 1 BUKIT TIMAH         117.789474      698816.998405
block 1 CENTRAL AREA         62.666667      419808.253968
block 1 CHOA CHU KANG        91.800000      284450.111607
...                                ...                ...
block 989A JURONG WEST      106.666667      494491.166667
block 989D JURONG WEST      107.300000      484189.668182
block 99 BEDOK              123.200000      505175.337838
block 990A JURONG WEST       54.909091      262915.584416
block 99B TOA PAYOH         144.500000      812066.176471

[3414 rows x 2 columns]

In [ ]:
from geopy.geocoders import Nominatim
import time

geolocator = Nominatim(user_agent="ankur")

xValues = []
yValues = []

for index in singapore_2000_onwards.index:
    location = geolocator.geocode(index)
    if(location is not None):
        xValues.append(location.latitude)
        yValues.append(location.longitude)
    else:
        xValues.append(np.nan)
        yValues.append(np.nan)

In [ ]:
singapore_2000_onwards['x'] = xValues
singapore_2000_onwards['y'] = yValues

singapore_2000_onwards.dropna(inplace=True)

C:\Users\ankur\AppData\Local\Temp\ipykernel_18380\1265465496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singapore_2000_onwards['x'] = xValues
C:\Users\ankur\AppData\Local\Temp\ipykernel_18380\1265465496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singapore_2000_onwards['y'] = yValues
C:\Users\ankur\AppData\Local\Temp\ipykernel_18380\1265465496.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singapore_2000_onwards.dropna(inplace=True)

In [ ]:
singapore_2000_onwards = gpd.GeoDataFrame(singapore_2000_onwards, geometry=gpd.points_from_xy(singapore_2000_onwards['y'], singapore_2000_onwards['x']))
singapore_2000_onwards = singapore_2000_onwards[['floor_area_sqm', 'mean_resale_price', 'geometry']]
singapore_2000_onwards

,floor_area_sqm,mean_resale_price,geometry
ID,,,
block 1 BEDOK,87.151515,338909.623855,POINT (103.93147 1.32567)
block 1 BUKIT MERAH,84.145833,417188.365358,POINT (103.83535 1.27935)
block 1 BUKIT TIMAH,117.789474,698816.998405,POINT (101.46708 1.51128)
block 1 CENTRAL AREA,62.666667,419808.253968,POINT (146.00830 -41.10814)
block 1 GEYLANG,82.290323,428180.333312,POINT (103.88706 1.31819)
...,...,...,...
block 944 TAMPINES,145.727273,684870.708333,POINT (103.93169 1.35824)
block 946 HOUGANG,112.750000,422688.676740,POINT (103.88324 1.35147)
block 950 HOUGANG,110.875000,432444.543651,POINT (103.88324 1.35147)
block 954 HOUGANG,112.111111,423138.606934,POINT (103.88324 1.35147)
block 962 HOUGANG,115.625000,455543.785014,POINT (103.88324 1.35147)

In [ ]:
singapore_casino_locations = pd.DataFrame()

singapore_casino_locations['casino_name'] = ['Marina Bay Sands',
                                             'Resorts World Casino Sentosa']
singapore_casino_locations['x'] = [1.2847, 1.2552]
singapore_casino_locations['y'] = [103.8610, 103.8218]

singapore_casino_locations = gpd.GeoDataFrame(singapore_casino_locations,
                                              geometry = gpd.points_from_xy(singapore_casino_locations['y'],
                                                                 singapore_casino_locations['x']))
singapore_casino_locations = singapore_casino_locations[['casino_name', 'geometry']]
singapore_casino_locations

                    casino_name                   geometry
0              Marina Bay Sands  POINT (103.86100 1.28470)
1  Resorts World Casino Sentosa  POINT (103.82180 1.25520)

In [ ]:
def CalculateDistance(attribute, tag):
    distances = [];
    for i, row in singapore_2000_onwards.iterrows():

        closest_distance= 1000000000000000

        for j, location in attribute.iterrows():
            coords1 = (singapore_2000_onwards.at[i, 'geometry'].y, singapore_2000_onwards.at[i, 'geometry'].x)
            coords2 = (attribute.at[j, 'geometry'].y, attribute.at[j, 'geometry'].x)
            distance = geopy.distance.geodesic(coords1, coords2).m    
            if(distance < closest_distance):
                closest_distance = distance
        distances.append(closest_distance)
    singapore_2000_onwards[tag] = distances

In [ ]:
for i, mall in singapore_casino_locations.iterrows():
    name = singapore_casino_locations.at[i, 'casino_name']
    tag = 'Closest distance to ' +  name
    CalculateDistance(singapore_casino_locations, tag)
singapore_2000_onwards

,floor_area_sqm,mean_resale_price,geometry,Closest distance to Marina Bay Sands,Closest distance to Resorts World Casino Sentosa
ID,,,,,
block 1 BEDOK,87.151515,338909.623855,POINT (103.93147 1.32567),9.057217e+03,9.057217e+03
block 1 BUKIT MERAH,84.145833,417188.365358,POINT (103.83535 1.27935),2.915024e+03,2.915024e+03
block 1 BUKIT TIMAH,117.789474,698816.998405,POINT (101.46708 1.51128),2.635760e+05,2.635760e+05
block 1 CENTRAL AREA,62.666667,419808.253968,POINT (146.00830 -41.10814),6.335036e+06,6.335036e+06
block 1 GEYLANG,82.290323,428180.333312,POINT (103.88706 1.31819),4.703110e+03,4.703110e+03
...,...,...,...,...,...
block 944 TAMPINES,145.727273,684870.708333,POINT (103.93169 1.35824),1.131450e+04,1.131450e+04
block 946 HOUGANG,112.750000,422688.676740,POINT (103.88324 1.35147),7.787478e+03,7.787478e+03
block 950 HOUGANG,110.875000,432444.543651,POINT (103.88324 1.35147),7.787478e+03,7.787478e+03
block 954 HOUGANG,112.111111,423138.606934,POINT (103.88324 1.35147),7.787478e+03,7.787478e+03
block 962 HOUGANG,115.625000,455543.785014,POINT (103.88324 1.35147),7.787478e+03,7.787478e+03

Data related to singapore's hotel room rates and geolocations is also read in, as only distances to hotels are being considered the hotel room rate data is disregarded.

In [6]:
singapore_hotels = pd.read_csv('Data/Singapore Data/Singapore hotels/Singapore hotels.csv')
singapore_hotels = singapore_hotels[['Name','geometry']]
singapore_hotels = gpd.GeoDataFrame(singapore_hotels.loc[:, [c for c in singapore_hotels.columns if c != "geometry"]], geometry=gpd.GeoSeries.from_wkt(singapore_hotels["geometry"]))
singapore_hotels

                                           Name                   geometry
0                         Hotel Boss, Singapore  POINT (103.86010 1.30579)
1             YOTELAIR Singapore Changi Airport  POINT (103.99053 1.35988)
2    PARKROYAL COLLECTION Marina Bay, Singapore  POINT (103.85682 1.29161)
3           The Fullerton Hotel, Singapore\t352  POINT (103.85307 1.28620)
4                      Carlton Hotel, Singapore  POINT (103.85259 1.29572)
..                                          ...                        ...
175     Betel Box Backpackers Hostel, Singapore  POINT (103.90027 1.31227)
176                Spacepod, Kallang, Singapore  POINT (103.86193 1.31052)
177          The Bohemian, Chinatown, Singapore  POINT (103.84492 1.28382)
178               Atelier, Chinatown, Singapore  POINT (103.84677 1.28069)
179        Vintage Inn @ Clarke Quay, Singapore  POINT (103.84713 1.28756)

[180 rows x 2 columns]

In [8]:
#https://data.gov.sg/dataset/master-plan-2014-subzone-boundary-web?resource_id=1c6b586b-61ca-45a9-b704-df4c9057fbd6

### **Section 3:** Point of interest proximity and concentration

In order to complement the core regression analysis of this workbook, which relies on determining the relationship between casino proxmity and house prices in Singapore, externalities related to the concentrations of geospatial attributes are also considered.

Consequently, the distance from, and concentration of these geospatial externalities with repsect to the location of centroids of Singapore's residential housing blocks can be determined via the utilisation of a method that determines the point of interest count up until a certain radius around a hotel (determinePOICount) and the use of a method that can calculate the distance of an external feature from a hotel (CalculateDistance).

In [17]:
def CalculateDistance(attribute, tag):
    distances = [];
    for i, row in singapore_2000_onwards.iterrows():

        closest_distance= 1000000000000000

        for j, location in attribute.iterrows():
            coords1 = (singapore_2000_onwards.at[i, 'geometry'].y, singapore_2000_onwards.at[i, 'geometry'].x)
            coords2 = (attribute.at[j, 'geometry'].y, attribute.at[j, 'geometry'].x)
            distance = geopy.distance.geodesic(coords1, coords2).m    
            if(distance < closest_distance):
                closest_distance = distance
        distances.append(closest_distance)
    singapore_2000_onwards[tag] = distances

The distance of a housing block centroid to a it's closest hotel is added to the dataframe below.

In [18]:
CalculateDistance(singapore_hotels, 'Closest distance to a hotel')
singapore_2000_onwards

,ID,floor_area_sqm,mean_resale_price,Closest distance to Marina Bay Sands,Closest distance to Resorts World Casino Sentosa,geometry,Closest distance to a hotel
0,block 1 BEDOK,87.151515,338909.623855,9.057217e+03,9.057217e+03,POINT (103.93147 1.32567),1.853188e+03
1,block 1 BUKIT MERAH,84.145833,417188.365358,2.915024e+03,2.915024e+03,POINT (103.83535 1.27935),4.987472e+02
2,block 1 BUKIT TIMAH,117.789474,698816.998405,2.635760e+05,2.635760e+05,POINT (101.46708 1.51128),2.536406e+05
3,block 1 CENTRAL AREA,62.666667,419808.253968,6.335036e+06,6.335036e+06,POINT (146.00830 -41.10814),6.332915e+06
4,block 1 GEYLANG,82.290323,428180.333312,4.703110e+03,4.703110e+03,POINT (103.88706 1.31819),4.229202e+02
...,...,...,...,...,...,...,...
1967,block 944 TAMPINES,145.727273,684870.708333,1.131450e+04,1.131450e+04,POINT (103.93169 1.35824),3.404486e+03
1968,block 946 HOUGANG,112.750000,422688.676740,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02
1969,block 950 HOUGANG,110.875000,432444.543651,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02
1970,block 954 HOUGANG,112.111111,423138.606934,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02
1971,block 962 HOUGANG,115.625000,455543.785014,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02

Following this distances to parks in Singapore are considered.

In [19]:
parks = gpd.read_file('Data/Singapore Data/Singapore POI data/parks/parks-geojson.geojson')
parks

,Name,Description,geometry
0,kml_1,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.96086 1.34618 0.00000)
1,kml_2,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.97898 1.38990 0.00000)
2,kml_3,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.92313 1.40991 0.00000)
3,kml_4,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.86697 1.37924 0.00000)
4,kml_5,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.82907 1.37276 0.00000)
...,...,...,...
345,kml_346,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.89036 1.36796 0.00000)
346,kml_347,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.98919 1.39017 0.00000)
347,kml_348,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.88595 1.35520 0.00000)
348,kml_349,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.90374 1.39164 0.00000)
349,kml_350,<center><table><tr><th colspan='2' align='cent...,POINT Z (103.94749 1.32553 0.00000)

The distance of a housing block centroid to a it's closest park is added to the dataframe below.

In [20]:
CalculateDistance(parks, 'Closest distance to a park')
singapore_2000_onwards

,ID,floor_area_sqm,mean_resale_price,Closest distance to Marina Bay Sands,Closest distance to Resorts World Casino Sentosa,geometry,Closest distance to a hotel,Closest distance to a park
0,block 1 BEDOK,87.151515,338909.623855,9.057217e+03,9.057217e+03,POINT (103.93147 1.32567),1.853188e+03,7.996054e+02
1,block 1 BUKIT MERAH,84.145833,417188.365358,2.915024e+03,2.915024e+03,POINT (103.83535 1.27935),4.987472e+02,5.739934e+02
2,block 1 BUKIT TIMAH,117.789474,698816.998405,2.635760e+05,2.635760e+05,POINT (101.46708 1.51128),2.536406e+05,2.484460e+05
3,block 1 CENTRAL AREA,62.666667,419808.253968,6.335036e+06,6.335036e+06,POINT (146.00830 -41.10814),6.332915e+06,6.330579e+06
4,block 1 GEYLANG,82.290323,428180.333312,4.703110e+03,4.703110e+03,POINT (103.88706 1.31819),4.229202e+02,4.021314e+02
...,...,...,...,...,...,...,...,...
1967,block 944 TAMPINES,145.727273,684870.708333,1.131450e+04,1.131450e+04,POINT (103.93169 1.35824),3.404486e+03,1.427613e+03
1968,block 946 HOUGANG,112.750000,422688.676740,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02
1969,block 950 HOUGANG,110.875000,432444.543651,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02
1970,block 954 HOUGANG,112.111111,423138.606934,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02
1971,block 962 HOUGANG,115.625000,455543.785014,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02

Finally concentrations of traffic lights and parking lots within 500 meters of a housing block centroid in Singapore is added to the dataframe by the use of the following method which determines the point of interest count around a specific point and up until a specific distance from that point.

In [21]:
def determinePOICount(attribute, tag, threshold):
    counts = [];

    for i, row in singapore_2000_onwards.iterrows():
        count = 0
        for j, location in attribute.iterrows():
            coords1 = (singapore_2000_onwards.at[i, 'geometry'].y, singapore_2000_onwards.at[i, 'geometry'].x)
            coords2 = (attribute.at[j, 'geometry'].y, attribute.at[j, 'geometry'].x)

            distance = geopy.distance.geodesic(coords1, coords2).m
            if(distance < threshold):
                count += 1

        counts.append(count)

    singapore_2000_onwards[tag] = counts

In [22]:
traffic_lights= gpd.read_file('Data/Singapore Data/Singapore POI data/singapore-police-force-digital-traffic-red-light-cameras-shp/SPF_DTRLS.shp')
traffic_lights = traffic_lights[['ID', 'geometry']]
traffic_lights = traffic_lights.to_crs({'init': 'epsg:4326'})
traffic_lights

c:\Users\ankur\AppData\Roaming\jupyterlab-desktop\jlab_server\lib\site-packages\pyproj\crs\crs.py:130: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

        ID                   geometry
0     90.0  POINT (103.89426 1.33571)
1     91.0  POINT (103.71576 1.34569)
2     92.0  POINT (103.90627 1.38878)
3     93.0  POINT (103.93599 1.35594)
4     94.0  POINT (103.82503 1.28649)
..     ...                        ...
235  185.0  POINT (103.62716 1.30941)
236  186.0  POINT (103.89269 1.37661)
237  187.0  POINT (103.89962 1.40246)
238  188.0  POINT (103.86929 1.39161)
239  189.0  POINT (103.89400 1.38684)

[240 rows x 2 columns]

In [23]:
determinePOICount(traffic_lights, 'Traffic lights within 500 meters', 500)

In [25]:
parking_lots = gpd.read_file('Data/Singapore Data/Singapore POI data/ura-parking-lot/ura-parking-lot-geojson.geojson')

parking_lots['x'] = parking_lots.centroid.x
parking_lots['y'] = parking_lots.centroid.y

parking_lots = parking_lots [['Name', 'x', 'y']]

parking_lots = gpd.GeoDataFrame(parking_lots,
                             geometry=gpd.points_from_xy(parking_lots.x, parking_lots.y))

parking_lots = parking_lots[['Name', 'geometry']]
parking_lots

C:\Users\ankur\AppData\Local\Temp\ipykernel_16644\130702347.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  parking_lots['x'] = parking_lots.centroid.x
C:\Users\ankur\AppData\Local\Temp\ipykernel_16644\130702347.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  parking_lots['y'] = parking_lots.centroid.y

            Name                   geometry
0          kml_1  POINT (103.94655 1.33216)
1          kml_2  POINT (103.94657 1.33215)
2          kml_3  POINT (103.94667 1.33213)
3          kml_4  POINT (103.94652 1.33216)
4          kml_5  POINT (103.94659 1.33215)
...          ...                        ...
42138  kml_42140  POINT (103.75038 1.32737)
42139  kml_42141  POINT (103.75056 1.32752)
42140  kml_42142  POINT (103.75162 1.32610)
42141  kml_42143  POINT (103.75159 1.32615)
42142  kml_42144  POINT (103.75142 1.32674)

[42143 rows x 2 columns]

In [26]:
determinePOICount(parking_lots, 'Parking lots within 500 meters', 500)
singapore_2000_onwards

,ID,floor_area_sqm,mean_resale_price,Closest distance to Marina Bay Sands,Closest distance to Resorts World Casino Sentosa,geometry,Closest distance to a hotel,Closest distance to a park,Traffic lights within 500 meters,Parking lots within 500 meters
0,block 1 BEDOK,87.151515,338909.623855,9.057217e+03,9.057217e+03,POINT (103.93147 1.32567),1.853188e+03,7.996054e+02,1,0
1,block 1 BUKIT MERAH,84.145833,417188.365358,2.915024e+03,2.915024e+03,POINT (103.83535 1.27935),4.987472e+02,5.739934e+02,0,300
2,block 1 BUKIT TIMAH,117.789474,698816.998405,2.635760e+05,2.635760e+05,POINT (101.46708 1.51128),2.536406e+05,2.484460e+05,0,0
3,block 1 CENTRAL AREA,62.666667,419808.253968,6.335036e+06,6.335036e+06,POINT (146.00830 -41.10814),6.332915e+06,6.330579e+06,0,0
4,block 1 GEYLANG,82.290323,428180.333312,4.703110e+03,4.703110e+03,POINT (103.88706 1.31819),4.229202e+02,4.021314e+02,1,412
...,...,...,...,...,...,...,...,...,...,...
1967,block 944 TAMPINES,145.727273,684870.708333,1.131450e+04,1.131450e+04,POINT (103.93169 1.35824),3.404486e+03,1.427613e+03,0,588
1968,block 946 HOUGANG,112.750000,422688.676740,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02,0,9
1969,block 950 HOUGANG,110.875000,432444.543651,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02,0,9
1970,block 954 HOUGANG,112.111111,423138.606934,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02,0,9
1971,block 962 HOUGANG,115.625000,455543.785014,7.787478e+03,7.787478e+03,POINT (103.88324 1.35147),5.638358e+02,2.796723e+02,0,9

The data is then exported below and is used by "Singapore housing analysis [Ankur Shanker].ipynb.

In [27]:
singapore_2000_onwards.to_csv('Singapore housing.csv')